<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	'{{$jquery}}'
	'{{$script}}'
	'{{$style}}'
</head>
<body>

<div id="target">
  <div id="header">
  	<div id="timer">00:00</div>
    <div id="detailButtons">
      <input type="button" value="成績" id="showDetail"/>
    </div>
  </div>
  <div id="detailbox"></div>

	<table id="targetTable">
	</table>
</div>

</body>

<script type="text/javascript">

	$(document).ready(function(){

		var questions = '{{$questionCnt}}';
    var limitSec = '{{$limitSec}}';

    var history = new calcSrc.classes.ResultDb("'{{$title}}'");
    var $historyBtn = $('#showDetail');
    var $historyBox = $('#detailbox');
    if (!history.isAllow) {
      $historyBtn.addClass('click_disable');
    } else {
      $historyBtn.on('click', function(){
        if ($historyBox.hasClass('detailbox_show')) {
          $historyBox.removeClass('detailbox_show');
          return;
        }
        $historyBox.addClass('detailbox_show');
        var maxInfo = history.getMax();
        var summaries = history.getRecent(10);
        $historyBox.html('');
        var $hisTable = $('<table>');
        $.each(summaries, function(key, val){
          $hisTable.append(
            $('<tr>').append(
              $('<td>').text(history.formatTime(val['dt'])),
              $('<td>').addClass('table_result').text(val['value']+'回')
            )
          );
        });
        $historyBox.append(
          $('<div>').append(
            $('<span>').addClass('result_max').text('最高：'+ maxInfo['value'] + '問'),
            $('<span>').addClass('result_max').text('('+history.formatTime(maxInfo['dt'])+')'),
            $('<input type="button" value="消去" class="result_remove">')
          ),
          $hisTable
        );
        $historyBox.find('.result_remove').on('click', function(){
          $historyBox.removeClass('detailbox_show');
          history.clear();
        });
      });
    }

    var timer = new calcSrc.classes.CountDownTimer($('#timer'), limitSec);

		var $tgt = $('#targetTable');
		var formulaSet = [];

		'{{$getFormula}}'

		$.each(formulaSet, function(key,formula){
			var index = key+1;
			$tgt.append(
				$('<tr>').addClass('line').append(
					$('<td>').addClass('num').text(''+index),
					$('<td>').attr({'data-value':formula[0]}).addClass('first').text(formula[0]),
					$('<td>').attr({'data-value':formula[1]}).addClass('ope').text(formula[1]),
					$('<td>').attr({'data-value':formula[2]}).addClass('second').text(formula[2]),
					$('<td>').text('='),
					$('<td>').append(
						$('<input type="text" size="5" class="ans">')
					),
					$('<td>').addClass('result').text('')
				)
			);
		});


		timer.start(function(){
      var $lines = $tgt.find('tr.line');
      var validCount = 0;
      $lines.each(function(a, lineRaw){
        var $line = $(lineRaw);
        var first = parseInt($line.find('.first').data('value'), 10);
        var ope = $line.find('.ope').data('value');
        var second = parseInt($line.find('.second').data('value'), 10);
        var $ans = $line.find('.ans');
        $ans.prop('disabled', true);
        var ans = parseInt($ans.val(), 10);
        var $result = $line.find('.result');
        if ((ope === '+' && first+second === ans)
          || (ope === '-' && first-second === ans)
          || (ope === '×' && first*second === ans)
          || (ope === '÷' && parseInt(first/second,10) === ans)
        ){
          validCount++;
          $result.removeClass('ans_err').text('○');
        } else {
          $result.addClass('ans_err').text('×');
        }
      });
      history.save(validCount);
      $('#timer').text('あなたの正解数は['+validCount+']問です')
		});

	});

</script>

</html>
